{% extends "layout/base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
{% load static %}
{% include "includes/alert.html" %}
<style>
    /* Styling for image preview */
    #image-preview {
        width: 150px; /* Set the width of the container */
        height: 150px; /* Set the height of the container */
        border: 1px groove #ddd;
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
        border-radius: 50%;
    }
    #image-preview img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover; /* Make the image fill the container while maintaining aspect ratio */
    }
    /* Hide file input */
    .hidden-input {
        display: none;
    }
    /* #profile-pic {
        display: none;
    } */
    /* Style label to mimic input field */
    #upload-label {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
</style>
<main class="main account">
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url "home" %}"><i class="d-icon-home"></i></a></li>
                <li>Account</li>
            </ul>
        </div>
    </nav>
    <div class="page-content mt-4 mb-10 pb-6">
        <div class="container">
            <h2 class="title title-center mb-10">Change Password</h2>
            <div class="tab tab-vertical gutter-lg">
                {% include "includes/dashboard_sidebar.html" %}
                <main class="col-md-9" style="background-color: rgba(255, 255, 255, 0.873); border: 1px solid rgb(163, 163, 163); border-radius: 10px; padding: 30px; margin-left: 20px;">
                    <div class="tab-pane">
                        <form action="{% url "change_password" %}" method="post" enctype="multipart/form-data" class="form">
                            {% csrf_token %}
                            <fieldset style="margin-top: 5px;">
                                <legend>Password Change</legend>
                                <label>Current password</label>
                                <input type="password" class="form-control" name="current_password" placeholder="Current Password">

                                <label>New password</label>
                                <input type="password" class="form-control" name="new_password" placeholder="New Password">

                                <label>Confirm new password</label>
                                <input type="password" class="form-control" name="confirm_password" placeholder="Confirm New Password">
                            </fieldset>
                            <button type="submit" class="btn btn-primary">SAVE CHANGES</button>
                        </form>
                    </div>
                </main>
            </div>
        </div>
    </div>
</main>
<!-- End Main -->
<script>
    // JavaScript for image preview
    const imagePreview = document.getElementById('preview-image');
    const profilePicInput = document.getElementById('id_profile_picture');
    let inputOpen = false;

    // Update image preview when a file is selected
    profilePicInput.addEventListener('change', function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                imagePreview.src = e.target.result;
            }
            reader.readAsDataURL(file);
        } else {
            // If no file selected, revert to dummy image
            imagePreview.src = 'https://www.w3schools.com/howto/img_avatar.png';
        }
        inputOpen = false; // Reset the inputOpen flag after the change event
    });

    // Allow changing the image by clicking the dummy preview
    document.getElementById('upload-label').addEventListener('click', function(event) {
        if (!inputOpen) { // Check if input is not already open
            profilePicInput.click(); // Click directly on the file input
            inputOpen = true; // Set inputOpen to true after clicking the input
        }
    });
</script>
{% endblock content %}